
<div class="container my-5 text-center">
    
   
<div class="row">
    <div class="col-12 ">
       <h1>Sobre Lobo Estoico</h1> 
       <div class="img-bio img-fluid rounded-4  mb-4">
       <img src="img/daniel.png" alt="daniel">
        </div>
        <p class="lead fs-5 lh-lg">
            ​Mi nombre es Daniel. Soy creador de Lobo Estoico, una comunidad que inspira a miles en redes sociales con mensajes de resiliencia, disciplina y filosofía práctica.
Mi voz no nace de la teoría, sino de la experiencia: de caer, levantarme y entender que la vida respeta a quienes no se rinden.
        </p>
    </div>
</div>

</div>