<div class="hero-section">
    <div class="hero-img-container">
        <img src="img/lobo.jpg" alt="lobo" class="hero-image">
    </div>
    <div class="gradient-overlay"></div>
  </div>
  <div class="text-center hero-content">
    <h1 class="display-3 text-white text-center">Filosofía de Lobo Estoico</h1>
    <p class="lead text-white text-center">No es autoayuda blanda.<br>
Es un recordatorio crudo de que la vida no espera a nadie.<br>
Aquí no encontrarás adornos ni frases bonitas: cada frase es un golpe directo para despertar tu fuerza, tu carácter y tu disciplina
</p>
    
  </div>

<div class="container fluid mt-5">
  <div class="row">
    
    <div class="col-md-12 mb-4">
      <div class="product-card">
        <h1 class="text-center">Ya disponible</h1>
        <img src="img/resiliencia.jpg" alt="Resiliencia" class="img-fluid">
        <div class="product-info">
          <h3>Resiliencia: El arte de luchar en silencio.</h3>
            <p>
            Este libro es para ti si:
                Has atravesado momentos difíciles y sigues en pie.
                Te sientes cansado emocionalmente, pero no rendido.
                Buscas crecimiento personal sin discursos vacíos.
                Crees que la verdadera fuerza se construye en silencio.
                Resiliencia no promete cambiar tu vida.
                Te enseña a sostenerla, incluso cuando pesa.
          </p>
          <button class="btn btn-outline-light  btn-lg mt-3">Descubre Más</button>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="product-card text-center">
        <h3>El primer camino</h3>
        <img src="img/libro1.png" alt="Libro 1" class="img-fluid">
        <div class="product-info">
          <p>
        Prepárate para un viaje transformador que te llevará desde la desesperación hasta el empoderamiento total. Si estás listo para dejar de mendigar aprobación y empezar a vivir en tus propios términos, este libro será tu guía hacia una vida de autenticidad, fuerza y propósito inquebrantable.
        No esperes palabras suaves; espera la verdad cruda que necesitas para renacer más fuerte que nunca.</p>
         <button class="btn btn-outline-light  btn-lg mt-3">Descubre Más</button>       </div>
      </div>
    </div>

   
 <div class="col-md-6 mb-4">
      <div class="product-card">
        <img src="img/lobofuerte.png" alt="lobo" class="img-fluid">
        <div class="product-info">
          <p>¿Qué conseguirás?

            A mantener la calma en medio del caos.<br>

            A forjar disciplina cuando más la necesitas.<br>

            A dejar de pedir permiso para ser tú mismo.<br>

            A transformar la adversidad en poder personal.<br>

            A caminar solo cuando la manada no entienda tu visión.<br>
        </p>
         </div>
        </div>
      </div>

      <div class="col-md-12 mb-4">
      <div class="product-card">
        <img src="img/nunca.png" alt="lobo" class="img-fluid">
        <div class="product-info">
          
          <h4>¿PARA QUIÉN?</h4>
            <p> 

            

            Para quienes sienten que viven atrapados como ovejas, siguiendo al rebaño.
                    <br>
            Para quienes desean fuerza mental, resiliencia y autenticidad.
                    <br>
            Para los que están cansados de sobrevivir y quieren empezar a dominar su vida.
                    <br>
            ​Esta filosofía no maquilla la verdad.
            No te promete atajos ni frases motivacionales pasajeras.
            Es directa, brutalmente honesta y enfocada en quienes buscan endurecer su espíritu y levantarse más fuertes en un mundo frágil.
        </p>
         </div>
        </div>
      </div>
    </div>
 



</div>