<div class="container fluid mt-5 text-center">
  <div class="row">
    
    <div class="col-md-6 mb-4">
      <div class="product-card">
        <h1 class="text-center"></h1>
        <img src="img/catalogo-libro2.jpg" alt="Resiliencia" class="img-fluid">
        <div class="product-info">
          <h3>Resiliencia: El arte de luchar en silencio.</h3>
            <p>
            Este libro es para ti si:
                Has atravesado momentos difíciles y sigues en pie.
                Te sientes cansado emocionalmente, pero no rendido.
                Buscas crecimiento personal sin discursos vacíos.
                Crees que la verdadera fuerza se construye en silencio.
                Resiliencia no promete cambiar tu vida.
                Te enseña a sostenerla, incluso cuando pesa.
          </p>
          <button class="btn btn-outline-light  btn-lg mt-3">Comprar Ahora</button>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="product-card">
        
        <img src="img/catalogo-libro1.jpg" alt="Libro 1" class="img-fluid">
        <div class="product-info">
          <p>
        Prepárate para un viaje transformador que te llevará desde la desesperación hasta el empoderamiento total. Si estás listo para dejar de mendigar aprobación y empezar a vivir en tus propios términos, este libro será tu guía hacia una vida de autenticidad, fuerza y propósito inquebrantable.
        No esperes palabras suaves; espera la verdad cruda que necesitas para renacer más fuerte que nunca.</p>
         <button class="btn btn-outline-light  btn-lg mt-3">Comprar Ahora</button>       </div>
      </div>
    </div>